/*  цветовая схема с тёмным фоном и акцентными контролами */

 /*  Цвета фонов блоков  */ 

$color-bg-default: #000000;
$color-bg-accent: #FFFFFF;
$color-bg-border: #FFFFFF;

 /* Цвета состояний текста */

$color-typo-primary: #FFFFFF;
$color-typo-secondary: transparentize($color-typo-primary, 0.4); 
$color-typo-ghost: transparentize($color-typo-primary, 0.7); 
$color-link: #0070f0;