/* модификатор на отступ между колонками и отступами в сетке */
  
@media screen and (max-width: $screen-m-max) {
  $gap: $space-m
}

@media screen and (min-width: $screen-m-max) {
  $gap: $space-xxxl;
}

$col-gap-half: $gap * 0.5;
$col-gap-two-thirds: $gap * 0.66;
$col-gap-full: $gap;

