/* Значения размеров высоты текста (так как в задании текст в виде линий): */
$fs-s: 7px;
$fs-m: 8px;
$fs-l: 10px;
$fs-xl: 11px;
$fs-xxl: 13px;

/* Значения межстрочных интервалов: */

$lh-s: 18px;
$lh-m: 21px;
$lh-l: 25px;
$lh-xl: 28px;
$lh-xxl: 34px;